<table class="table table-striped table-hover">
    <thead class="thead-light">
    <tr>
        <th scope="col">Image</th>
        <th scope="col">Email</th>
        <th scope="col">Nom</th>
        <th scope="col">Prénom</th>
        <th scope="col">Genre</th>
        <th scope="col">Rôles</th>
        <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for user in users %}
        <tr>
            <td>
                {% if user.image %}
                    <img src="{{ asset('uploads/' ~ user.image) }}" alt="Image de profil"
                         class="img-thumbnail" style="width: 50px; height: 50px;">
                {% else %}
                    <img src="{{ asset('images/default-avatar.png') }}" alt="Image de profil par défaut"
                         class="img-thumbnail" style="width: 50px; height: 50px;">
                {% endif %}
            </td>
            <td>{{ user.email }}</td>
            <td>{{ user.nom }}</td>
            <td>{{ user.prenom }}</td>
            <td>{{ user.genre ? user.genre.name : '' }}</td>
            <td>
                {% for role in user.roles %}
                    <span class="badge
                            {% if role == 'Admin' %}badge-danger
                            {% elseif role == 'Enseignant' %}badge-primary
                            {% elseif role == 'Parent' %}badge-warning
                            {% else %}badge-secondary{% endif %}">
                            {{ role }}
                        </span>
                    {% if not loop.last %}, {% endif %}
                {% endfor %}
            </td>
            <td>
                <a href="{{ path('app_user_show', {'id': user.id}) }}" class="btn btn-info btn-sm">
                    <i class="fas fa-eye"></i> Voir son détail
                </a>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="10" class="text-center">Aucun utilisateur trouvé</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
