{% extends 'side-bar.html.twig' %}

{% block title %}Nouvel utilisateur{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="text-center mb-4">Créer un nouvel utilisateur</h1>

        <!-- Vérification des messages flash -->
        {% for message in app.flashes('success') %}
            <script>
                console.log("Success Message:", '{{ message }}'); // Ajoutez ceci pour déboguer
                Swal.fire({
                    icon: 'success',
                    title: 'Succès',
                    text: '{{ message }}',
                    showConfirmButton: true
                });
            </script>
        {% endfor %}

        {% for message in app.flashes('error') %}
            <script>
                console.log("Error Message:", '{{ message }}'); // Ajoutez ceci pour déboguer
                Swal.fire({
                    icon: 'error',
                    title: 'Erreur',
                    text: '{{ message }}',
                    showConfirmButton: true
                });
            </script>
        {% endfor %}


        <div class="card p-4">
            {{ include('user/_form.html.twig') }}
        </div>

        <div class="mt-3">
            <a href="{{ path('app_user_index') }}" class="btn btn-secondary">Retour à la liste</a>
        </div>
    </div>
{% endblock %}
