{% extends 'side-bar.html.twig' %}

{% block title %}Add New Exam{% endblock %}

{% block body %}
    <div style="margin-top: 100px; margin-left: 0;">
        <div class="container">
            <h1>Add New Exam</h1>

            {{ form_start(form) }}
            <div class="form-group">
                {{ form_label(form.subject) }}
                {{ form_widget(form.subject, {'attr': {'class': 'form-control'}}) }}
                <div class="invalid-feedback d-block text-danger ">
                    {{ form_errors(form.subject) }}
                </div>


            </div>
            <div class="form-group">
                {{ form_label(form.startTime) }}
                {{ form_widget(form.startTime, {'attr': {'class': 'form-control'}}) }}
                <div class="invalid-feedback d-block text-danger ">
                    {{ form_errors(form.startTime) }}
                </div>
                </div>
            <div class="form-group">
                {{ form_label(form.endTime) }}
                {{ form_widget(form.endTime, {'attr': {'class': 'form-control'}}) }}
                <div class="invalid-feedback d-block text-danger ">
                    {{ form_errors(form.endTime) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(form.location) }}
                {{ form_widget(form.location, {'attr': {'class': 'form-control'}}) }}
                <div class="invalid-feedback d-block text-danger ">
                    {{ form_errors(form.location) }}
                </div>
                </div>
            <button type="submit" class="btn btn-primary">Save</button>
            {{ form_end(form) }}
        </div>

    </div>
{% endblock %}