{% extends 'side-bar-ensg.html.twig' %}

{% block title %}Question{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1 class="mb-4">Question</h1>

        <table class="table">
            <tbody>
                 <tr>
                    <th>Titre du Quiz</th> {# Ajout du titre du quiz #}
                    <td>{{ question.quiz.titre }}</td>
                </tr>
                <tr>
                    <th>Classe</th> {# Ajout du nom de la classe #}
                    <td>{{ question.quiz.classe.NomClasse }}</td>
                </tr>
                <tr>
                    <th>Id</th>
                    <td>{{ question.id }}</td>
                </tr>
                <tr>
                    <th>Question</th>
                    <td>{{ question.texte }}</td>
                </tr>
                <tr>
                    <th>Options</th>
                    <td>{{ question.options ? question.options|json_encode : '' }}</td>
                </tr>
                <tr>
                    <th>Bonne Réponse</th>
                    <td>{{ question.reponse }}</td>
                </tr>

            </tbody>
        </table>

        <div class="mt-3 d-flex">
            <a href="{{ path('question_edit', {'id': question.id}) }}" class="btn btn-primary me-2">Modifier</a>
            
            {{ include('question/_delete_form.html.twig') }}
        </div>

        <a href="{{ path('question_index') }}" class="btn btn-secondary mt-3">
            Retour à la liste
        </a>
    </div>
{% endblock %}
