{# gestion_eleve/_form.html.twig #}

{{ form_start(form, {'attr': {'class': 'needs-validation', 'novalidate': 'novalidate'}}) }}
    <div class="mb-3">
        {{ form_label(form.Nom, 'Nom', {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.Nom, {'attr': {'class': 'form-control', 'placeholder': 'Entrez le nom'}}) }}
        <div class="invalid-feedback">
            {{ form_errors(form.Nom) }}
        </div>
    </div>

    <div class="mb-3">
        {{ form_label(form.Prenom, 'Prénom', {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.Prenom, {'attr': {'class': 'form-control', 'placeholder': 'Entrez le prénom'}}) }}
        <div class="invalid-feedback">
            {{ form_errors(form.Prenom) }}
        </div>
    </div>

    <div class="mb-3">
        {{ form_label(form.DateDeNaissance, 'Date de naissance', {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.DateDeNaissance, {'attr': {'class': 'form-control', 'placeholder': 'Sélectionnez une date'}}) }}
        <div class="invalid-feedback">
            {{ form_errors(form.DateDeNaissance) }}
        </div>
    </div>

    <div class="mb-3">
        {{ form_label(form.moyenne, 'Moyenne', {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.moyenne, {'attr': {'class': 'form-control', 'placeholder': 'Entrez la moyenne'}}) }}
        <div class="invalid-feedback">
            {{ form_errors(form.moyenne) }}
        </div>
    </div>

    <div class="mb-3">
        {{ form_label(form.NbreAbscence, 'Nombre des absences', {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.NbreAbscence, {'attr': {'class': 'form-control', 'placeholder': 'Entrez le nombre des absences'}}) }}
        <div class="invalid-feedback">
            {{ form_errors(form.NbreAbscence) }}
        </div>
    </div>

    <div class="mb-3">
        {{ form_label(form.IdClasse, 'Classe', {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.IdClasse, {'attr': {'class': 'form-control'}}) }}
        <div class="invalid-feedback">
            {{ form_errors(form.IdClasse) }}
        </div>
    </div>

    <div class="mb-3">
        {{ form_label(form.IdParent, 'Parent', {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.IdParent, {'attr': {'class': 'form-control'}}) }}
        <div class="invalid-feedback">
            {{ form_errors(form.IdParent) }}
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Enregistrer</button>
{{ form_end(form) }}
