{% extends 'side-bar.html.twig' %}

{% block title %}Liste des Élèves{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Liste des Élèves</h1>

    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Prénom</th>
                    <th scope="col">Date de Naissance</th>
                    <th scope="col">Moyenne</th>
                    <th scope="col">Nombre d'Absences</th>
                    <th scope="col">Classe</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for eleve in eleves %}
                <tr>
                    <th scope="row">{{ eleve.id }}</th>
                    <td>{{ eleve.nom }}</td>
                    <td>{{ eleve.prenom }}</td>
                    <td>{{ eleve.dateDeNaissance|date('d/m/Y') }}</td>
                    <td>{{ eleve.moyenne }}</td>
                    <td>{{ eleve.nbreAbscence }}</td>
                    <td>
    {% if eleve.IdClasse %}
        {{ eleve.IdClasse.nomClasse }}
    {% else %}
        Non assigné
    {% endif %}
</td>

                    <td>
                        <a href="{{ path('app_eleve_show', {'id': eleve.id}) }}" class="btn btn-info btn-sm">Voir</a>
                        <a href="{{ path('app_eleve_edit', {'id': eleve.id}) }}" class="btn btn-warning btn-sm">Modifier</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="8" class="text-center">Aucun enregistrement trouvé</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="text-center mt-4">
        <a href="{{ path('app_eleve_new') }}" class="btn btn-success">Ajouter un nouvel élève</a>
    </div>
</div>
{% endblock %}
