{{ form_start(form, {'attr': {'class': 'needs-validation', 'novalidate': 'novalidate'}}) }}
    <div class="mb-3">
        {{ form_label(form.score, 'Score', {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.score, {'attr': {'class': 'form-control', 'placeholder': 'Entrez le score'}}) }}
        <div class="invalid-feedback">
            {{ form_errors(form.score) }}
        </div>
    </div>

    <div class="mb-3">
        {{ form_label(form.eleve, 'Élève', {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.eleve, {'attr': {'class': 'form-control'}}) }}
        <div class="invalid-feedback">
            {{ form_errors(form.eleve) }}
        </div>
    </div>

    <div class="mb-3">
        {{ form_label(form.quiz, 'Quiz', {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.quiz, {'attr': {'class': 'form-control'}}) }}
        <div class="invalid-feedback">
            {{ form_errors(form.quiz) }}
        </div>
    </div>

    <button type="submit" class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}