{% extends 'side-bar-ensg.html.twig' %}

{% block nav %} {%endblock %}
{% block title %}Add New Subject{% endblock %}

{% block body %}
    <div style="margin-top: 100px; margin-left: 0;">

        <div class="container">
            <h1>Add New Subject</h1>

            {{ form_start(form) }}
            <div class="form-group">
                {{ form_label(form.nom ,'Nom de Matiere' )}}
                {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.nom) }} {# Display validation errors #}

            </div>
            <div class="form-group">
                {{ form_label(form.coefficient) }}
                {{ form_widget(form.coefficient, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.coefficient) }} {# Display validation errors #}

            </div>
            <div class="form-group">
                <label for="enseignant">Enseignant</label>
                {{ form_widget(form.idEnsg, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.idEnsg) }}
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}