<table class="table table-striped">
    <thead class="table-dark">
    <tr>
        <th>ID</th>
        <th>Nom</th>
        <th>Description</th>
        <th>Catégorie</th>
        <th>Prix (dt)</th>
        <th>Stock</th>
        <th>Image</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for produit in produits %}
        <tr>
            <td>{{ produit.id }}</td>
            <td>{{ produit.nom }}</td>
            <td>{{ produit.description }}</td>
            <td>{{ produit.categorie.nom }}</td>
            <td>{{ produit.prix }}</td>
            <td>{{ produit.stock }}</td>
            <td>
                {% if produit.image %}
                    <img src="http://localhost/uploads/{{ produit.image }}" alt="Image de {{ produit.nom }}" width="100" class="img-thumbnail">
                {% else %}
                    Pas d'image
                {% endif %}
            </td>

            <td>
                    <span style="display: flex; gap: 10px;">
                        <a href="{{ path('app_produit_show', {'id': produit.id}) }}" class="btn btn-info btn-sm"> <i class="fas fa-eye"></i></a>
                        <a href="{{ path('app_produit_edit', {'id': produit.id}) }}" class="btn btn-warning btn-sm"> <i class="fas fa-edit"></i> </a>
                        {{ include('produit/_delete_form.html.twig') }}
                    </span>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="8" class="text-center">Aucun produit trouvé</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
