{% extends 'base.html.twig' %}

{% block title %}{{ produit.nom }}{% endblock %}

{% block body %}
    <div class="container" style="margin-top: 30px !important; padding: 0 15px !important;">
        <div class="row">

            <!-- Image du produit -->
            <div class="col-md-6">
                <img src="{{ asset('uploads/' ~ produit.image) }}" class="img-fluid rounded shadow" alt="{{ produit.nom }}">
            </div>

            <!-- Informations sur le produit -->
            <div class="col-md-6">
                <h1>{{ produit.nom }}</h1>
                    <p>{{ produit.description }}</p>
                <h3 class="text-primary">{{ produit.prix }} dt</h3>

                <!-- Formulaire d'ajout au panier -->
                <form action="{{ path('app_panier_add', {'id': produit.id}) }}" method="post">
                    <label for="quantite">Quantité :</label>
                    <input type="number" id="quantite" name="quantite" value="1" min="1">
                    <button type="submit" class="btn btn-success">Ajouter au panier</button>
                </form>


                <a href="{{ path('app_boutique') }}" class="btn btn-secondary mt-3">Retour à la boutique</a>
            </div>
        </div>
    </div>
{% endblock %}
