{# templates/evenement/edit.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Modifier un événement{% endblock %}

{% block body %}
    <h1>Modifier l'événement : {{ evenement.titre }}</h1>

    {{ form_start(form) }}
        {{ form_row(form.titre) }}
        {{ form_row(form.description) }}
        {{ form_row(form.dateDebut) }}
        {{ form_row(form.dateFin) }}
        {{ form_row(form.lieu) }}
        {{ form_row(form.inscriptionRequise) }}
        {{ form_row(form.nombrePlaces) }}
        {{ form_row(form.type) }}
        <button class="btn btn-success">Mettre à jour</button>
    {{ form_end(form) }}
{% endblock %}
