{% extends 'side-bar.html.twig' %}

{% block title %}Liste des événements{% endblock %}

{% block body %}
    <div class="container" style="margin-top: 100px !important; padding: 0 15px !important;">
        <h1 class="mb-4">Liste des événements</h1>
        <div class="d-flex justify-content-end mb-3" style="padding-right: 40px;">
            <a href="{{ path('evenement_new') }}" class="btn btn-primary">Créer un événement</a>
        </div>

        <table class="table table-striped">
            <thead class="table-dark">
                <tr>
                    <th>Titre</th>
                    <th>Description</th>
                    <th>Date Début</th>
                    <th>Date Fin</th>
                    <th>Lieu</th>
                    <th>Inscription Requise</th>
                    <th>Nombre de Places</th>
                    <th>Type d'événement</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for evenement in evenements %}
                    <tr>
                        <td>{{ evenement.titre }}</td>
                        <td>{{ evenement.description }}</td>
                        <td>{{ evenement.dateDebut|date('Y-m-d H:i') }}</td>
                        <td>{{ evenement.dateFin|date('Y-m-d H:i') }}</td>
                        <td>{{ evenement.lieu }}</td>
                        <td>{{ evenement.inscriptionRequise ? 'Oui' : 'Non' }}</td>
                        <td>{{ evenement.nombrePlaces }}</td>
                        <td>{{ evenement.type.value }}</td>
                        <td>
                            <span style="display: flex; gap: 10px;">
                                <a href="{{ path('evenement_edit', {'id': evenement.id}) }}" class="btn btn-warning btn-sm">
                                    <i class="fas fa-edit"></i> Modifier
                                </a>
                                <a href="{{ path('evenement_delete', {'id': evenement.id}) }}" class="btn btn-danger btn-sm" onclick="return confirm('Êtes-vous sûr ?')">
                                    <i class="fas fa-trash-alt"></i> Supprimer
                                </a>
                                
                                {% if evenement.inscriptionRequise %}
                                    <a href="{{ path('consulter_inscriptions', {'id': evenement.id}) }}" class="btn btn-info btn-sm">
                                        <i class="fas fa-eye"></i> Consulter
                                    </a>
                                {% endif %}
                            </span>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="9" class="text-center">Aucun événement trouvé</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
