{# templates/evenement/index.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Liste des événements{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
    <h1>Liste des événements</h1>

    <a href="{{ path('evenement_new') }}" class="btn btn-primary">Créer un événement</a>

<div class="example-wrapper">
    <table>
        <thead>
            <tr class="table table-hover">
                <th scope="col">Titre</th>
                <th scope="col">Description</th>
                <th scope="col">Date Debut</th>
                <th scope="col">Date Fin</th>
                <th scope="col">Lieu</th>
                <th scope="col">Inscription Requise</th>
                <th scope="col">Nombre De Place</th>
                <th scope="col">Type D'evenement</th>
                <th scope="col">Modifier</th>
                <th scope="col">Supprimer</th>
            </tr>
        </thead>
        <tbody>
            {% for evenement in evenements %}
                <tr class="table-primary">
                    <td>{{ evenement.titre }}</td>
                    <td>{{ evenement.description }}</td>
                    <td>{{ evenement.dateDebut|date('Y-m-d H:i') }}</td>
                    <td>{{ evenement.dateFin|date('Y-m-d H:i') }}</td>
                    <td>{{ evenement.lieu }}</td>
                    <td>{{ evenement.inscriptionRequise }}</td>
                    <td>{{ evenement.nombrePlaces }}</td>
                    <td>{{ evenement.type.value }}</td>
                    <td>
                        <a href="{{ path('evenement_edit', {'id': evenement.id}) }}"" class="btn btn-warning">Modifier</a>
                    </td>
                    <td>
                        <a href="{{ path('evenement_delete', {'id': evenement.id}) }}" class="btn btn-danger" onclick="return confirm('Êtes-vous sûr ?')">Supprimer</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
