{% extends 'base.html.twig' %}

{% block title %}Toutes les cessations{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="mb-4">Liste des cessations</h1>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>Image</th> <!-- Nouvelle colonne pour l'image -->
                <th>Nom</th>
                <th>Prénom</th>
                <th>Rôle</th>
                <th>Motif</th>
                <th>Date de Cessation</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for cessation in cessations %}
                <tr>
                    <!-- Affichage de l'image -->
                    <td>
                        {% if cessation.idUser.image %}
                            <img src="{{ asset('uploads/' ~ cessation.idUser.image) }}" alt="Image de {{ cessation.idUser.prenom }}" width="50" height="50">
                        {% else %}
                            <img src="{{ asset('images/default-avatar.png') }}" alt="Image par défaut" width="50" height="50">
                        {% endif %}
                    </td>
                    <td>{{ cessation.idUser.prenom }}</td> <!-- Afficher le prénom de l'utilisateur -->
                    <td>{{ cessation.idUser.nom }}</td> <!-- Afficher le nom de l'utilisateur -->
                    <td>{{ cessation.idUser.roles|join(', ') }}</td> <!-- Afficher tous les rôles de l'utilisateur -->
                    <td>{{ cessation.motif }}</td> <!-- Afficher le motif de la cessation -->
                    <td>{{ cessation.dateMotif|date('d/m/Y ') }}</td>
                    <td>
                        <form action="{{ path('activate_account', {'id': cessation.id}) }}" method="POST">
                            <button type="submit" class="btn btn-blue">Activer son compte</button>
                        </form>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7" class="text-center">Aucune cessation trouvée</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
